<div *ngIf="browseService.openTabs.length > 0" class="tab-bar">
	<ul>
		<li [ngClass]="{selected: browseService.selectedFile === tab }" *ngFor="let tab of browseService.openTabs; let i = index">
			<span (click)="browseService.selectFile(tab)" >
				{{ tab.fileName }}
			</span>
			<button (click)="browseService.closeTab(i)" class="btn close-btn">x</button>
		</li>
	</ul>
</div>

<div *ngIf="browseService.openTabs.length > 0" [ngSwitch]="browseService.selectedFile?.fileExtension">
	<app-tpc-editor [file]="browseService.selectedFile" *ngSwitchCase="'tpc'"></app-tpc-editor>
	<app-no-editor *ngSwitchDefault></app-no-editor>
</div>
