:host {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 64px 1fr;
}
.type-icon {
  color: #757575;
  margin-right: 5px;
}

.tree {
	height: 100%;
	position: relative;
	overflow: scroll;
}

.browse-area {
	display: grid;
	grid-template-columns: 1fr auto;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: darken(#02253A, 5%);
}


textarea {
	width: 100%;
}


.txi-area {
	padding: 32px;
}

mat-form-field {
	width: 100%;
}


.preview {
	margin: auto;

	padding: 32px;

}


.side-area {
	display: grid;
	padding-top: 16px;
	grid-auto-flow: row;

	grid-auto-rows: min-content;
	grid-gap: 16px;

	background-color: #02253A;

	i {
		margin: auto;
		text-align: center;
		color: white;
	}
}


ul {
	padding-left: 8px;
}
