:host {
	display: grid;
	// grid-gap: 2px;
}

div {
	color: white;
	font-weight: 300;
	cursor: pointer;

	padding: 3px 14px 3px 24px;
}

.top {
	background-color: #003D5D;
	font-weight: 400;
}

ul {
	list-style: none;
	display: grid;
	// grid-gap: 2px;
	padding-left: 12px;
}

.chev {
	position: relative;
	&:before {
		content: '∟';
		transform: translate(-17px, -3px) rotate(45deg);
		position: absolute;
		transition: 0.25s;
	}

	&.expanded:before {
		transform: translate(-17px, -3px) rotate(-45deg);
	}
}
