:host {
	display: grid;
	height: 100%;
}
ul {
	list-style: none;
	padding: 0;
	width: 100%;

	li {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr auto;
	}
}

mat-card {
	position: relative;
	height: fit-content;
	top: 15%;
	margin: 0 auto;
	width: 500px;
}

mat-card-actions {
	width: fit-content;
	margin-left: auto;
}
